:root {
  --first-color: #749536;
  --first-color_alt: #566f28;
  --second-color: #a35a20;
  --second-color_alt: #7e4211;
  --third-color: #f3f3cd;
  --third-color_alt: #d4d4b3;
  --primary: #158cba;
  --primary_alt: #106a8c;
  --sucess: #28b62c;
  --sucess_alt: #1f8c22;
  --info: #75caeb;
  --info_alt: #48b9e5;
  --warning: #ff851b;
  --warning: #e76b00;
  --danger: #ff4136;
  --danger_alt: #ff1103; }

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
} */
/* MIxing */
@-webkit-keyframes rotarwpp {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
@keyframes rotarwpp {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

:root {
  --gap: 1rem; }
  @media screen and (min-width: 1024px) {
    :root :root {
      --gap: 2rem; } }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #4c6590; }
  a:hover {
    color: #4c6590;
    text-decoration: underline; }

ul li {
  margin-left: 8px;
  list-style-image: url(../images/icon-list.gif);
  padding-bottom: 2px; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

/* PADDINGS*/
.s-py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

@media screen and (min-width: 1024px) {
  .lg-py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem; } }

.s-px-1 {
  padding-left: 1rem;
  padding-right: 1rem; }
  @media screen and (min-width: 1024px) {
    .s-px-1 .s-px-2 {
      padding-left: 2rem;
      padding-right: 2rem; } }

.s-pb-1 {
  padding-bottom: 1rem; }
  @media screen and (min-width: 1024px) {
    .s-pb-1 .lg-pb-2 {
      padding-bottom: 2rem; } }

/* @media (min-width: 1200px){
    .container {
        max-width: 1024px;
    }
}; */
.emagrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  grid-column-gap: var(--gap);
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 1124px; }
  .emagrid .emagrid, .emagrid.full {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0; }

.sm-grid-1 {
  -ms-grid-columns: (calc((100% - var(--gap) * 0) / 1))[1];
  grid-template-columns: repeat(1, calc((100% - var(--gap) * 0) / 1)); }

.sm-cols-1 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1; }

.sm-grid-2 {
  -ms-grid-columns: (calc((100% - var(--gap) * 1) / 2))[2];
  grid-template-columns: repeat(2, calc((100% - var(--gap) * 1) / 2)); }

.sm-cols-2 {
  -ms-grid-column-span: 2;
  grid-column-end: span 2; }

.sm-grid-3 {
  -ms-grid-columns: (calc((100% - var(--gap) * 2) / 3))[3];
  grid-template-columns: repeat(3, calc((100% - var(--gap) * 2) / 3)); }

.sm-cols-3 {
  -ms-grid-column-span: 3;
  grid-column-end: span 3; }

.sm-grid-4 {
  -ms-grid-columns: (calc((100% - var(--gap) * 3) / 4))[4];
  grid-template-columns: repeat(4, calc((100% - var(--gap) * 3) / 4)); }

.sm-cols-4 {
  -ms-grid-column-span: 4;
  grid-column-end: span 4; }

.sm-grid-5 {
  -ms-grid-columns: (calc((100% - var(--gap) * 4) / 5))[5];
  grid-template-columns: repeat(5, calc((100% - var(--gap) * 4) / 5)); }

.sm-cols-5 {
  -ms-grid-column-span: 5;
  grid-column-end: span 5; }

.sm-grid-6 {
  -ms-grid-columns: (calc((100% - var(--gap) * 5) / 6))[6];
  grid-template-columns: repeat(6, calc((100% - var(--gap) * 5) / 6)); }

.sm-cols-6 {
  -ms-grid-column-span: 6;
  grid-column-end: span 6; }

.sm-grid-7 {
  -ms-grid-columns: (calc((100% - var(--gap) * 6) / 7))[7];
  grid-template-columns: repeat(7, calc((100% - var(--gap) * 6) / 7)); }

.sm-cols-7 {
  -ms-grid-column-span: 7;
  grid-column-end: span 7; }

.sm-grid-8 {
  -ms-grid-columns: (calc((100% - var(--gap) * 7) / 8))[8];
  grid-template-columns: repeat(8, calc((100% - var(--gap) * 7) / 8)); }

.sm-cols-8 {
  -ms-grid-column-span: 8;
  grid-column-end: span 8; }

.sm-grid-9 {
  -ms-grid-columns: (calc((100% - var(--gap) * 8) / 9))[9];
  grid-template-columns: repeat(9, calc((100% - var(--gap) * 8) / 9)); }

.sm-cols-9 {
  -ms-grid-column-span: 9;
  grid-column-end: span 9; }

.sm-grid-10 {
  -ms-grid-columns: (calc((100% - var(--gap) * 9) / 10))[10];
  grid-template-columns: repeat(10, calc((100% - var(--gap) * 9) / 10)); }

.sm-cols-10 {
  -ms-grid-column-span: 10;
  grid-column-end: span 10; }

.sm-grid-11 {
  -ms-grid-columns: (calc((100% - var(--gap) * 10) / 11))[11];
  grid-template-columns: repeat(11, calc((100% - var(--gap) * 10) / 11)); }

.sm-cols-11 {
  -ms-grid-column-span: 11;
  grid-column-end: span 11; }

.sm-grid-12 {
  -ms-grid-columns: (calc((100% - var(--gap) * 11) / 12))[12];
  grid-template-columns: repeat(12, calc((100% - var(--gap) * 11) / 12)); }

.sm-cols-12 {
  -ms-grid-column-span: 12;
  grid-column-end: span 12; }

@media screen and (min-width: 768px) {
  .md-grid-1 {
    -ms-grid-columns: (calc((100% - var(--gap) * 0) / 1))[1];
    grid-template-columns: repeat(1, calc((100% - var(--gap) * 0) / 1)); }
  .md-cols-1 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1; }
  .md-grid-2 {
    -ms-grid-columns: (calc((100% - var(--gap) * 1) / 2))[2];
    grid-template-columns: repeat(2, calc((100% - var(--gap) * 1) / 2)); }
  .md-cols-2 {
    -ms-grid-column-span: 2;
    grid-column-end: span 2; }
  .md-grid-3 {
    -ms-grid-columns: (calc((100% - var(--gap) * 2) / 3))[3];
    grid-template-columns: repeat(3, calc((100% - var(--gap) * 2) / 3)); }
  .md-cols-3 {
    -ms-grid-column-span: 3;
    grid-column-end: span 3; }
  .md-grid-4 {
    -ms-grid-columns: (calc((100% - var(--gap) * 3) / 4))[4];
    grid-template-columns: repeat(4, calc((100% - var(--gap) * 3) / 4)); }
  .md-cols-4 {
    -ms-grid-column-span: 4;
    grid-column-end: span 4; }
  .md-grid-5 {
    -ms-grid-columns: (calc((100% - var(--gap) * 4) / 5))[5];
    grid-template-columns: repeat(5, calc((100% - var(--gap) * 4) / 5)); }
  .md-cols-5 {
    -ms-grid-column-span: 5;
    grid-column-end: span 5; }
  .md-grid-6 {
    -ms-grid-columns: (calc((100% - var(--gap) * 5) / 6))[6];
    grid-template-columns: repeat(6, calc((100% - var(--gap) * 5) / 6)); }
  .md-cols-6 {
    -ms-grid-column-span: 6;
    grid-column-end: span 6; }
  .md-grid-7 {
    -ms-grid-columns: (calc((100% - var(--gap) * 6) / 7))[7];
    grid-template-columns: repeat(7, calc((100% - var(--gap) * 6) / 7)); }
  .md-cols-7 {
    -ms-grid-column-span: 7;
    grid-column-end: span 7; }
  .md-grid-8 {
    -ms-grid-columns: (calc((100% - var(--gap) * 7) / 8))[8];
    grid-template-columns: repeat(8, calc((100% - var(--gap) * 7) / 8)); }
  .md-cols-8 {
    -ms-grid-column-span: 8;
    grid-column-end: span 8; }
  .md-grid-9 {
    -ms-grid-columns: (calc((100% - var(--gap) * 8) / 9))[9];
    grid-template-columns: repeat(9, calc((100% - var(--gap) * 8) / 9)); }
  .md-cols-9 {
    -ms-grid-column-span: 9;
    grid-column-end: span 9; }
  .md-grid-10 {
    -ms-grid-columns: (calc((100% - var(--gap) * 9) / 10))[10];
    grid-template-columns: repeat(10, calc((100% - var(--gap) * 9) / 10)); }
  .md-cols-10 {
    -ms-grid-column-span: 10;
    grid-column-end: span 10; }
  .md-grid-11 {
    -ms-grid-columns: (calc((100% - var(--gap) * 10) / 11))[11];
    grid-template-columns: repeat(11, calc((100% - var(--gap) * 10) / 11)); }
  .md-cols-11 {
    -ms-grid-column-span: 11;
    grid-column-end: span 11; }
  .md-grid-12 {
    -ms-grid-columns: (calc((100% - var(--gap) * 11) / 12))[12];
    grid-template-columns: repeat(12, calc((100% - var(--gap) * 11) / 12)); }
  .md-cols-12 {
    -ms-grid-column-span: 12;
    grid-column-end: span 12; } }

@media screen and (min-width: 1024px) {
  .lg-grid-1 {
    -ms-grid-columns: (calc((100% - var(--gap) * 0) / 1))[1];
    grid-template-columns: repeat(1, calc((100% - var(--gap) * 0) / 1)); }
  .lg-cols-1 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1; }
  .lg-grid-2 {
    -ms-grid-columns: (calc((100% - var(--gap) * 1) / 2))[2];
    grid-template-columns: repeat(2, calc((100% - var(--gap) * 1) / 2)); }
  .lg-cols-2 {
    -ms-grid-column-span: 2;
    grid-column-end: span 2; }
  .lg-grid-3 {
    -ms-grid-columns: (calc((100% - var(--gap) * 2) / 3))[3];
    grid-template-columns: repeat(3, calc((100% - var(--gap) * 2) / 3)); }
  .lg-cols-3 {
    -ms-grid-column-span: 3;
    grid-column-end: span 3; }
  .lg-grid-4 {
    -ms-grid-columns: (calc((100% - var(--gap) * 3) / 4))[4];
    grid-template-columns: repeat(4, calc((100% - var(--gap) * 3) / 4)); }
  .lg-cols-4 {
    -ms-grid-column-span: 4;
    grid-column-end: span 4; }
  .lg-grid-5 {
    -ms-grid-columns: (calc((100% - var(--gap) * 4) / 5))[5];
    grid-template-columns: repeat(5, calc((100% - var(--gap) * 4) / 5)); }
  .lg-cols-5 {
    -ms-grid-column-span: 5;
    grid-column-end: span 5; }
  .lg-grid-6 {
    -ms-grid-columns: (calc((100% - var(--gap) * 5) / 6))[6];
    grid-template-columns: repeat(6, calc((100% - var(--gap) * 5) / 6)); }
  .lg-cols-6 {
    -ms-grid-column-span: 6;
    grid-column-end: span 6; }
  .lg-grid-7 {
    -ms-grid-columns: (calc((100% - var(--gap) * 6) / 7))[7];
    grid-template-columns: repeat(7, calc((100% - var(--gap) * 6) / 7)); }
  .lg-cols-7 {
    -ms-grid-column-span: 7;
    grid-column-end: span 7; }
  .lg-grid-8 {
    -ms-grid-columns: (calc((100% - var(--gap) * 7) / 8))[8];
    grid-template-columns: repeat(8, calc((100% - var(--gap) * 7) / 8)); }
  .lg-cols-8 {
    -ms-grid-column-span: 8;
    grid-column-end: span 8; }
  .lg-grid-9 {
    -ms-grid-columns: (calc((100% - var(--gap) * 8) / 9))[9];
    grid-template-columns: repeat(9, calc((100% - var(--gap) * 8) / 9)); }
  .lg-cols-9 {
    -ms-grid-column-span: 9;
    grid-column-end: span 9; }
  .lg-grid-10 {
    -ms-grid-columns: (calc((100% - var(--gap) * 9) / 10))[10];
    grid-template-columns: repeat(10, calc((100% - var(--gap) * 9) / 10)); }
  .lg-cols-10 {
    -ms-grid-column-span: 10;
    grid-column-end: span 10; }
  .lg-grid-11 {
    -ms-grid-columns: (calc((100% - var(--gap) * 10) / 11))[11];
    grid-template-columns: repeat(11, calc((100% - var(--gap) * 10) / 11)); }
  .lg-cols-11 {
    -ms-grid-column-span: 11;
    grid-column-end: span 11; }
  .lg-grid-12 {
    -ms-grid-columns: (calc((100% - var(--gap) * 11) / 12))[12];
    grid-template-columns: repeat(12, calc((100% - var(--gap) * 11) / 12)); }
  .lg-cols-12 {
    -ms-grid-column-span: 12;
    grid-column-end: span 12; } }

@media screen and (min-width: 1224px) {
  .emagrid {
    width: 100%;
    margin-left: auto;
    margin-right: auto; } }

#header {
  background: var(--primary);
  max-height: 50px; }
  #header #nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #header #nav .logo > a, #header #nav .menu > ul {
      height: 50px;
      display: block; }
    #header #nav .logo a {
      padding: 10px;
      color: #fff;
      font-size: 20px;
      font-weight: bold; }
      #header #nav .logo a .icon-logo:before {
        font-size: 30px; }
    #header #nav .menu {
      position: relative; }
      #header #nav .menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #header #nav .menu ul li {
          list-style: none; }
          #header #nav .menu ul li a {
            color: #fff; }
